/* Timeline Line style */
.ant-timeline-item-tail {
  border-width: 0.1rem; /* Custom line width */
  border-color: rgba(8, 145, 178, 0.5);
  transition: all 0.3s ease-in-out;
}

.ant-timeline-item-tail:hover {
  border-color: rgba(8, 145, 178, 0.7);
}

.profile-pic {
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1) all;
}

.profile-pic:hover {
  transform: scale(1.1);
}

.timeline-writeup {
  transition: 0.3s ease-in-out all;
}

.custom-shape-divider-bottom-1683288561 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tab-panel-inner-wrapper {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  place-content: center;
  min-height: 22rem;
  max-height: 44rem;
  align-content: baseline;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem 0 1rem 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}

.panel-item div {
  filter: blur(0) brightness(100%);
  transition: all 0.3s ease-in-out;
}

.panel-item:hover div {
  filter: blur(0.1rem) brightness(50%);
}

@keyframes ld-speed-dash {
  0% {
    transform: translate(0, -2027.0883805205474px);
  }
  100% {
    transform: translate(0, 2027.0883805205474px);
  }
}
.ld.ld-speed-dash {
  animation: ld-speed-dash 100s linear infinite;
}

.navbar {
  max-width: 80vw;

  display: flex;
  -webkit-box-shadow: 0px 0px 14px 4px rgba(128, 128, 128, 0.29);
  -moz-box-shadow: 0px 0px 14px 4px rgba(128, 128, 128, 0.29);
  box-shadow: 0px 0px 14px 4px rgba(128, 128, 128, 0.29);
}

.navbar-hidable {
  width: 12rem;
  opacity: 0.3;
  transition: all 1000ms ease-in-out;
}

.nav-bar-items-hidable {
  width: 0;
  transition: all 1000ms ease-in-out;
}

.navbar-hidable:hover {
  width: 32rem;
  opacity: 1;
}

.navbar-hidable:hover .nav-bar-items {
  width: 100%;
}

.navbar-hidable:not(:hover) .nav-bar-items {
  transition-delay: 1s; /* Delay after hovering ends */
}

.navbar-hidable:not(:hover) {
  transition-delay: 1.5s; /* Delay after hovering ends */
}

.navbar ::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: white;
  border-radius: 20px;
  width: 90vw;
  padding: 2rem;
}

.card-wrapper {
  height: auto;
  display: flex;
  place-content: center;
  place-items: center;
  margin-bottom: 4rem;
}

.card-inner {
  max-height: fit-content;
  width: 100%;
  margin: 5rem 0;
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {
  .card-inner.dynamic {
    grid-template-columns: auto auto;
  }

  .card-inner.static {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .card-inner {
    grid-template-rows: auto auto;
  }
}

.border-primary {
  border-color: rgba(8, 145, 178, 0.5);
  transition: border-color ease-in-out 0.3s;
}

.border-primary:hover {
  border-color: rgba(8, 145, 178, 0.7);
}
